@import "variables.scss";

.container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sup-header {
    align-items: flex-start;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sub-header {
    flex-flow: column;
}

header {
    padding: 16px 16px 0 16px;
    margin-bottom: 40px;
}

.secondary-menu {
    height: 40px;

    a {
        color: $light-gray;
        margin-left: 24px;
    }

    a:first-child, 
    a:last-child {
        margin-left: 0;
    }

    i {
        background-image: url($icons-url);
        background-position: 0 -1772px;
        display: inline-block;
        height: 10px;
        margin-right: .6em;
        margin-top: -4px;
        width: 15px;
    }

}

.primary-menu { 

    margin-bottom: 40px;
    
    a {
        color: $dark-gray;
        font-size: 19px;
        font-weight: 600;
        padding: 0 24px;
    }

    a:not(:last-child) {
        border-right: 1px solid #D8D8D8;
    }
}

.logo {
    
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    
    img {
        display: block;
        margin: 6px auto 10px;
        width: 145px; 
    }

    span { 
        color: $light-gray;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
    }
}

button {
    border-radius: 3px;
    border: none;
    font-weight: bold;
    height: 40px;
    margin: 0 0 0 16px;
    padding: 0 16px;
}

.blue-button {
    @extend button;
    background: $blue;
    color: white;
}

.transparent-button {
    @extend button;
    background: transparent;
    color: $dark-gray;
	margin: 0 0 0 8px;
	padding: 0;
}

.search-bar-form {
    margin: 0 auto;
    position: relative;

    svg {
        height: 20px;
        left: 0;
        margin: 0 16px;
        position: absolute;
        top: 10px;
        width: 20px;
    }

    input {
        background: #F0F0F0;
        border-radius: 4px;
        border: none;
        color: $light-gray;
        font-weight: 600;
        height: 40px;
        padding-left: 52px;
        width: 608px;
    }
}

.hamburger-menu {
    width: 24px;
    div {
        background-color: $main-text-color;
        height: 2px;
        margin: 6px 0;
    }
}

.vertical-separator {
    background: #D8D8D8;
    height: 20px;
    margin: 0 24px;
    width: 1px;
}