@import "variables.scss";

.sup-header-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.sub-header-container {
    @extend .sup-header-container;
    justify-content: center;
}

nav {

    align-items: center;
    display: flex;
    
    a {
        text-decoration: none;
    }
}

.secondary-menu { 
    @extend nav;
    margin-bottom: 40px;

    a {
        color: $light-gray;
        font-size: 16px;
        margin: 0 12px;
    }
}

.primary-menu { 
    @extend nav;
    margin-bottom: 40px;

    a {
        color: $dark-gray;
        border-right: 1px solid #D8D8D8;
        font-size: 21px;
        font-weight: 600;
        padding: 0 24px;
    }
}

.logo {
    display: flex;
    width: 145px; 
    height: 75px;

    img {
        width: 100%;
    }
}

button {
    border: none;
    border-radius: 3px;
    margin: 0 0 0 16px;
    padding: 0 16px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.blue-button {
    @extend button;
    background: #026CB6;
    color: white;
}

.transparent-button {
    @extend button;
    background: transparent;
    color: $dark-gray;

}

.search-bar-form {
    display: flex;
    align-items: center;
    margin: 0 auto;

    input {
        background: #F0F0F0;
        border-radius: 4px;
        color: #767676;
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        max-width: 660px;
        width: calc(100% - 52px);
        border: none;
        padding: 10px;
        margin: 0 auto;
    }
}