@import "./header.scss";
@import "./slide.scss";
@import "./variables.scss";

body {
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    font-size: 15px;
    color: $main-text-color;
    background: white;
    margin: 0;
    height: 700px;
}

a {
    text-decoration: none;

    &:hover {
        color: $blue;
    }
}