$main-text-color: #303030;
$light-gray: #767676;
$dark-gray: #424242;
$blue: #026CB6;
$icons-url: "https://afd.adsttc.com/afd/icons-s0b953c31ee-d58eb6713363275929d921eb173f8994762d78cc1b07968b312ee4f4156a8159.png";